<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adiosVaquero.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2614},{650,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,354}}</string>
				<key>sourceSize</key>
				<string>{650,354}</string>
			</dict>

			<key>agua.png</key>
			<dict>
				<key>frame</key>
				<string>{{2245,2714},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>aguaCambio.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2259},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>atras.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,1822},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>ayuda.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1822},{800,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,436}}</string>
				<key>sourceSize</key>
				<string>{800,436}</string>
			</dict>

			<key>barra 2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1801},{3295,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{3295,20}}</string>
				<key>sourceSize</key>
				<string>{3295,73}</string>
			</dict>

			<key>barra.png</key>
			<dict>
				<key>frame</key>
				<string>{{2818,1822},{125,1560}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,11},{125,1560}}</string>
				<key>sourceSize</key>
				<string>{169,1571}</string>
			</dict>

			<key>botonPausa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3182},{566,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{566,182}}</string>
				<key>sourceSize</key>
				<string>{566,182}</string>
			</dict>

			<key>cielo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>sourceSize</key>
				<string>{3300,1800}</string>
			</dict>

			<key>explosion.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,3816},{223,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{223,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>felicidades.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2259},{650,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{650,354}}</string>
				<key>sourceSize</key>
				<string>{650,354}</string>
			</dict>

			<key>fuego.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,3611},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>fuegoCambio.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2710},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>hexagono vida.png</key>
			<dict>
				<key>frame</key>
				<string>{{2440,2268},{377,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,35},{377,327}}</string>
				<key>sourceSize</key>
				<string>{441,423}</string>
			</dict>

			<key>home.png</key>
			<dict>
				<key>frame</key>
				<string>{{2245,3160},{424,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{424,424}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>luz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,2273},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>muerte.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,3365},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>obu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,3165},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>oscuridad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,2719},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>pausa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2969},{610,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,42},{610,212}}</string>
				<key>sourceSize</key>
				<string>{767,305}</string>
			</dict>

			<key>planta.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1822},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>plantaCambio.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3365},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,2273},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>reiniciar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,2719},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>siguiente.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,3165},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>tierra.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,3611},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>tierraCambio.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,3161},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>vida+1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3816},{236,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,9},{236,249}}</string>
				<key>sourceSize</key>
				<string>{253,279}</string>
			</dict>

			<key>vida+2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2445,1822},{306,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,21},{306,325}}</string>
				<key>sourceSize</key>
				<string>{325,361}</string>
			</dict>

			<key>vida+3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2245,3585},{387,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,19},{387,412}}</string>
				<key>sourceSize</key>
				<string>{419,433}</string>
			</dict>

			<key>vida.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,1822},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>viento.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,2268},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>vientoCambio.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,3612},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>Elementos.png</string>
			</dict>
		</dict>
</plist>