<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>agua.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,892},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>cielo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2560,1600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2560,1600}}</string>
				<key>sourceSize</key>
				<string>{2560,1600}</string>
			</dict>

			<key>explosion.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,1338},{223,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{223,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>felicitaciones.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1601},{612,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,40},{612,288}}</string>
				<key>sourceSize</key>
				<string>{673,375}</string>
			</dict>

			<key>fuego.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,446},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>luz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2397,1601},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>obu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,0},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>oscuridad.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1601},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>planta.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1601},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>tierra.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1601},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>viento.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,1601},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>Elementos.png</string>
			</dict>
		</dict>
</plist>