<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BTN_CREDITOS.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,3592},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_JUGAR.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3441},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_NIVELES.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3592},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_NUEVO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3743},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_PUNTAJE.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3894},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>CloseNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4045},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>CloseSelected.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,4045},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{37,37}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>OBU_LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1801},{1180,1038}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,77},{1180,1038}}</string>
				<key>sourceSize</key>
				<string>{1200,1200}</string>
			</dict>

			<key>agua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,2247},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>behelit.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,3743},{623,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,38},{623,67}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>behelit_logo.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,2840},{960,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{960,600}}</string>
				<key>sourceSize</key>
				<string>{960,600}</string>
			</dict>

			<key>boton_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,3286},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>boton_foward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,3585},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>boton_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{2274,3585},{424,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{424,424}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>boton_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{2274,3139},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>boton_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,1801},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>boton_review.png</key>
			<dict>
				<key>frame</key>
				<string>{{2073,2247},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>btn_continuar.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,3441},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>fondo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>sourceSize</key>
				<string>{3300,1800}</string>
			</dict>

			<key>fuego.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1801},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>luz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,3139},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>obu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,2693},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>oscuridad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,2247},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>planta.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,2840},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>tierra.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,2693},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

			<key>viento.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1801},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>Motto.png</string>
			</dict>
		</dict>
</plist>