<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BTN_CREDITOS.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3595},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_JUGAR.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3293},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_NIVELES.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2840},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_NUEVO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3142},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>BTN_PUNTAJE.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2991},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>CloseNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3746},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>CloseSelected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3787},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{37,37}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>OBU_LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1801},{1180,1038}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,77},{1180,1038}}</string>
				<key>sourceSize</key>
				<string>{1200,1200}</string>
			</dict>

			<key>btn_continuar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3444},{690,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{690,150}}</string>
				<key>sourceSize</key>
				<string>{690,150}</string>
			</dict>

			<key>fondo_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3300,1800}}</string>
				<key>sourceSize</key>
				<string>{3300,1800}</string>
			</dict>

			<key>obu.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2840},{445,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{445,445}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>MottoMenu.png</string>
			</dict>
		</dict>
</plist>